body {
    background-color: lightgray;
}

.post {
    width: 100%;
}

.post-avatar {
}

.post-data {
    font-size: medium;
}

.post-data .post-votes {
    color: #000055;
    font-style: italic;
}

.app-header-link {
    margin-inline-end: 5px;
}