{% extends 'base.html.twig' %}
{% block body %}
    {% for post in posts  %}
        <div>
            <h1 class="post-date">{{ post.createdDate|date("d.m.Y H:m") }}</h1>
            {{ post.content }}
        </div>
    {% endfor %}
{% endblock %}